@import "../../../../Utils/utils.scss";

.about__services {
  @include center;
  width: 100%;
  .about__services-photo-container {
    width: 60%;
    img {
      width: 100%;
    }
  }
  .about__services-text-container {
    @include center;
    .about__services-text-container-limiter {
      @include center;
      flex-direction: column;
      text-align: center;
      h2 {
        font-family: "Merryweather";
        font-size: 36px;
        font-weight: 100;
        margin-bottom: 15px;
      }
      p {
        margin: 40px 0;
      }
      button {
        @include button;
        font-size: 18px;
        height: 50px;
        width: 300px;
        transition: transform 300ms ease-in;
        &:hover {
          transform: scale(1.04);
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .about__services-photo-container {
    display: none;
  }
  .about__services-text-container {
    padding: 50px 0;
    width: 100%;
    .about__services-text-container-limiter {
      width: 80%;
    }
  }
}

@media (min-width: 1001px) {
  .about__services-photo-container {
    @include center;
  }
  .about__services-text-container {
    width: 40%;
    .about__services-text-container-limiter {
      width: 30%;
    }
  }
}
