@import "../../../../Utils/utils.scss";

.about__landing {
  height: 100vh;
  background-image: url("https://drive.google.com/uc?export=view&id=1pjvv8IR2iF0Oq_qfgM362fMOJqdsfces");
  background-repeat: no-repeat;
  background-size: cover;
  .about__landing-sidebox {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 370px;
    width: 590px;
    background-color: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    padding: 10px 40px;
    .about__sidebox-header {
      color: white;
      font-family: "Merriweather", "Roboto";
      font-weight: 100;
      font-size: 36px;
      letter-spacing: 1px;
      padding-bottom: 40px;
    }
    .about__sidebox-button {
      @include button;
      font-family: "Merriweather", "Roboto";
      background: rgba($orange, 0.6);
      width: 200px;
      height: 60px;
      font-weight: 500;
      transition: background-color 200ms linear;
      &:hover {
        background-color: $orange;
      }
    }
  }
}
