@import "../../../../Utils/utils.scss";

.sap__content-container {
  background-color: white;
  min-height: 100vh;
  @include center;
  flex-direction: column;
  text-align: center;
  .sap__content-menu {
    display: flex;
    border-bottom: 3px solid $orange;
    width: 100%;
    button {
      width: 100%;
      height: 50px;
      background-color: $cream;
      cursor: pointer;
      border: none;
      font-size: 22px;
      font-weight: 300;
      &:hover {
        background-color: $orange;
      }
    }
  }
  .sap__content-content {
    display: flex;
    .sap__content-content-description {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
    .sap__content-content-contact {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  }
}
