@import "../../../../Utils/utils.scss";

.sap__content-container {
  background-color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  //justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  .sap__content-menu {
    display: flex;
    width: 100%;
    border-top: 3px solid $orange;
    button {
      width: 100%;
      height: 50px;
      background-color: $cream;
      cursor: pointer;
      border: none;
      font-size: 22px;
      font-weight: 300;
      &:hover {
        background-color: $orange;
      }
    }
  }
  .sap__content-content {
    display: flex;
    margin: auto 0;
    .sap__content-content-description,
    .sap__content-content-contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      & > * {
        margin: 20px 0;
      }
      p {
        width: 50%;
      }
      h1 {
        font-size: 36px;
        font-weight: 100;
        font-family: "Merriweather", "Roboto";
      }
    }
    .sap__content-content-contact {
      .sap__contact-message {
        display: flex;
        & > div {
          display: flex;
          flex-direction: column;
          align-items: center;
          h4 {
            margin-bottom: 15px;
          }
        }
      }
      .sap__contact-btn {
        height: 50px;
        margin-top: 40px;
        background-color: $orange;
        color: white;
        font-size: 22px;
        border: none;
        transition: transform 100ms linear;
        cursor: pointer;
        &:hover {
          transform: scale(1.03);
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .sap__content-content {
    flex-direction: column;
    .sap__content-content-description,
    .sap__content-content-contact {
      width: 100%;
    }
    .sap__contact-message {
      flex-direction: column;
      & > * {
        margin: 10px 0;
      }
    }
    .sap__contact-btn {
      width: 60%;
    }
  }
}

@media (min-width: 1001px) {
  .sap__content-content-description,
  .sap__content-content-contact {
    width: 50%;
  }
  .sap__contact-btn {
    width: 30%;
  }
}
